| ベントーイーツからのご連絡
= "\n"
= @information.open_date
| から
= @information.close_date
| の期間にテイクアウト営業する情報が投稿されています。
= "\n"
| お間違えの場合は、
= tag.a("こちらのリンク（PC専用）",href: "https://bento_eats.net")
| から、ログインして投稿を編集してください。
