h1 Owner::Items#index
p Find me in app/views/owner/items/index.html.slim

.items_index
- @items.each do |item|
  = item.name

.information_index
- @informations.each do |information|
  =information.open_date
