h1 Homes#top
p Find me in app/views/homes/top.html.slim

= link_to 'Customer', new_customer_session_path
br
= link_to 'ゲストとしてログインする', customers_guest_sign_in_path, method: :post
br
= link_to 'Owner' , new_owner_session_path
br
= link_to 'ゲストオーナーとしてログインする', owners_guest_sign_in_path, method: :post

