// 飲食店オーナー側の地図設定
#map_owner {
  height: 800px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

// 会員側の地図設定
#map_customer {
  height: 800px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.mouseover {
  letter-spacing: 10px;
  cursor: pointer;
}

.active {
  display: block;
}

.passive {
  display: none;
}

// 投稿・商品表示用のカード
.object_card {
  width: 380px;
  .object_link {
    text-decoration: none;
  }
  .card {
    width: 380px;
    color: #262626;
    .card-img-top {
      width: 90%;
      height: 90%;
      margin: 5%;
    }
  }
}

@font-face {
    font-family:  "myFontgagagaga";
    src: url("/fonts/gagagaga.otf")
}

@font-face {
    font-family:  "myFontgrid";
    src: url("/fonts/CHI_Grid_Free-Regular.otf")
}

* {
  font-family: "myFontgagagaga","myFontgrid",'Macondo', cursive;
}