#map_owner {
  height: 800px;
  /* The height is 400 pixels */
  width: 80%;
  /* The width is the width of the web page */
}

#map_customer {
  height: 800px;
  /* The height is 400 pixels */
  width: 80%;
  /* The width is the width of the web page */
}

.object_card {
  width: 300px;
  .object_link {
    text-decoration: none;
  }
  .card {
    width: 300px;
    color: #262626;
    .card-img-top {
      width: 90%;
      height: 90%;
      margin: 15px;
    }
  }
}
