* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 70vh;
}

#blank_box_customer_sign_up {
  height: 17vh;
}

#blank_box {
  height: 35vh;
}

.main-visual {
  background-image: image-url("background.jpg");
  background-size:cover;
  height: 90vh;
}

.top {
  background-color: rgba(255, 255, 242, .4);
  height: 90vh;
  .flex-column {
    height: 90vh;
    .justify-content-center {
      width: 90%;
    }
  }
}

#main-visual {
  img {
    border-radius: 15px;
  }
}

.top_gate {
  font-size: 19px;
}

#log_in {
  .card {
    width: 250px;
    height: 190px;
  }
  .row {
    width: 550px;
    background-color: rgba(255, 255, 242, .2);
    p {
      font-size: 35px;
      color: rgb(255, 255, 242);
      span {
        background:linear-gradient(transparent 85%, #81B8AF 99%);
      }
    }
  }
}

.navbar {
  .nav-item {
    text-decoration: none;
  }
  background-color: #fefef2;
  .icon {
    font-size: 50px;
    color: rgb(64, 117, 187);
    &:hover {
      transform: translateY(-5px);
    }
  }
  span {
    line-height: 0.8em;
    text-decoration: none;
    color: rgb(64, 117, 187);
  }
}

.customer_coupon {
  text-decoration: none;
  .fa-ticket-alt {
    font-size: 50px;
  }
  h4 {
    text-decoration: none;
    font-size: 25px;
  }
}

#blank {
  height: 20px;
  width: 100%;
}

#blank_top {
  height: 10px;
  background-color: rgba(222, 80, 57, .95);
}

.flash_message {
  width: 80%;
}

.footer {
  background-color: rgba(222, 80, 57, .95);
  height: 10vh;
  .icon {
    font-size: 30px;
    color: rgb(0, 0, 0);
  }
}

#helper {
  p {
    &:hover {
      transform: translateY(-5px);
    }
    .fa-info-circle {
      font-size: 22px;
    }
    span {
      font-size: 15px;
    }
  }
}

.box {
  height: 580px;
  // background-color: rgba(222, 80, 57, .95);
  #theTarget {
    .customer_skippr_1 {
      background-image: image-url("c_guide01.jpg");
    }
    .customer_skippr_2 {
      background-image: image-url("c_guide02.jpg");
    }
    .customer_skippr_3 {
      background-image: image-url("c_guide03.jpg");
    }
    .owner_skippr_1 {
      background-image: image-url("o_guide01.jpg");
    }
    .owner_skippr_2 {
      background-image: image-url("o_guide02.jpg");
    }
    .owner_skippr_3 {
      background-image: image-url("o_guide03.jpg");
    }
    .owner_skippr_4 {
      background-image: image-url("o_guide04.jpg");
    }
    .owner_skippr_5 {
      background-image: image-url("o_guide05.jpg");
    }
  }
}

// 飲食店オーナー側の地図設定
#map_owner {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

// 会員側の地図設定
#map_customer {
  height: 500px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.mouseover {
  letter-spacing: 10px;
  cursor: pointer;
}

.mouseover_2 {
  font-size: 20px;
  cursor: pointer;
}

// .active {
//   display: block;
// }
// .passive {
//   display: none;
// }

// 飲食店・商品表示用のカード
.object_card {
  width: 380px;
  &:hover {
    transform: translateY(-5px);
  }
  .object_link {
    text-decoration: none;
  }
  .card {
    width: 380px;
    color: #262626;
    .card-img-top {
      width: 90%;
      height: 90%;
      margin: 5%;
    }
  }
}

#flag {
  font-size: 60px;
}

#flag_title {
  font-size: 20px;
}

#marker {
  font-size: 60px;
}

#marker_title {
  font-size: 20px;
}

#map-warning {
  font-size: 60px;
}

#map-warning-text {
  font-size: 22px;
}

.customer_coupon {
  font-size: 20px;
}

#info_submit {
  font-size: 30px;
  border-bottom: solid 3px #DE5039;
  position: relative;
}

#address_form {
  height: 40px;
  width: 200px;
}

#address_form_btn {
  height: 40px;
}

#map_introduction {
  font-size: 12px;
}

.info_icon {
  font-size: 60px;
  &:hover {
    transform: translateY(-5px);
  }
}

#shop_item_name {
  font-size: 50px;
}

// 飲食店一覧画面の営業中フラグ
#open_is_valid {
  color: rgba(222, 80, 57, .95);
  .fa-flag {
    font-size: 20px;
  }
}

#fa-store {
  .fa-store {
    font-size: 40px;
  }
  span {
    font-size: 20px;
  }
}

.pagination {
  justify-content: center;
}

// フォント関係
@font-face {
    font-family:  "myFontgagagaga";
    src: asset_url("gagagaga.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: bold;
}

h1, h2, h3, h4, h5, .btn {
  font-family: "myFontgagagaga";
}

.navbar {
  ul {
    .nav-item {
      span {
        font-family: "myFontgagagaga";
      }
    }
  }
}

#notice_bell {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 120px;
  right: 40px;
  border-bottom: solid 2px #4075ba;
  &:hover {
    border: solid 2px #4075ba;
  }
  .fa-bell {
    font-size: 40px;
    height: 60px;
  }
  #notice_alert {
    position: fixed;
    bottom: 155px;
    right: 78px;
  }
}

.footer {
  span {
    font-family: "myFontgagagaga";
  }
}

@media screen and (max-width:375px) {

  body {
    width: 100%;
  }

  .main-visual {
    height: 90vh;
    width: 100%;
    .top {
      width: 100%;
    }
    .top > .row {
      width: 100%;
    }
  }

  #main-visual {
    justify-content: center;
    img {
      width: 200px;
      height: 200px;
      margin-left: 90px;
    }
  }

  #top_break {
    justify-content: center;
    width: 100%
  }

  #top_massage {
    display: none;
    width: 100%;
  }

  #log_in {
    .card:nth-child(2) {
      display: none;
    }
    .row:nth-child(1) {
      justify-content: center;
      width: 100%;
      margin-left: 20px;
    }
  }

  #map_customer {
    height: 500px;
    /* The height is 400 pixels */
    width: 98%;
    /* The width is the width of the web page */
  }

  #info_table {
    width: 1000px !important;
    table-layout: fixed;
    margin: 20px;
  }

  #info_table_short {
    width: 600px !important;
    table-layout: fixed;
    margin: 20px;
  }

  .box {
    height: 220px;
    padding: 15px;
  }

  #flex-layout-map {
    width: 100%;
    margin: 0 auto;
  }

  #flex-layout-map-button {
    justify-content: center;
    .none_important {
      display: none !important;
    }
    p {
      font-size: 18px;
    }

    #flag_title {
      margin-left: 0px !important;
    }

    #marker_title {
      margin-left: 15px !important;
    }

    #search_holder {
      margin-top: 10px;
      justify-content: space-around;
      #address_form {
        width: 60%;
      }
    }
  }

  #helper {
    margin-right: 20px;
  }

  #customer_owners {
    justify-content: center;
    .d-flex {
      justify-content: center !important;
    }
  }

  #owner_search {
    justify-content: flex-end;
  }

  #customer_owner {
    width: 95%;
    margin: 0 auto;
  }

  #customer_owner_items {
    justify-content: center !important;
  }

  #info_index {
    font-size: 25px;
    padding-left: 0px !important;
    height: 60px;
  }

  #customer_show_container {
    #customer_show {
      width: 100%;
      margin: 0 auto;
      #customer_show_select {
        display: block !important;
        width: 100%;
        h2 {
          font-size: 15px;
          padding-left: 10px !important;
          height: 60px;
        }
        h2:nth-child(2) {
          margin-left: 0px !important;
        }
        .customer_coupon {
          height: 45px;
          justify-content: center;
          h4 {
            font-size: 18px;
          }
          .fa-ticket-alt {
            font-size: 20px;
          }
        }
      }
    }
  }

  #item_index {
    .comment_index {
      width: 100%;
      .comment_form {
        width: 100%;
        form {
          width: 100%;
        }
      }
    }
  }

  #item_comment_table {
    margin: 10px;
  }

  #coopon_container {
    width: 100%;
    margin: 0 auto;
  }

  .navber {
    margin-right: auto !important;
  }
  .navbar-toggler{
    span {
      font-size: 35px;
    }
    margin-left: auto;
    background-color: rgba(222, 80, 57, .95) !important;
  }

  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .footer {
    height: 20vh;
  }

  #notice_index {
    width: 100%;
    .justify-content-center {
      width: 100%;
    }
    .table {
      margin: 10px;
    }
  }

  #notice_bell {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 20px;
    border-bottom: solid 2px #4075ba;
    &:hover {
      border: solid 2px #4075ba;
    }
    .fa-bell {
      font-size: 30px;
      height: 50px;
    }
    #notice_alert {
      position: fixed;
      bottom: 85px;
      right: 48px;
    }
  }
}
